.sidebar {
    position: fixed;
    padding-top: 5px;
    left: 0;
    top: 78px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 250px;
    background-color: #AAAAAA;
    z-index: 1;

    @media only screen and (max-width:450px) {
        width: 186px;
    }

    &__container {

        .voirProfile {
            width: 240px;
            font-size: 25px;
            border-radius: 25px;
            border: none;
            padding: 10px;
            background-color: green;

            &:hover {
                background: rgb(14, 250, 14);
            }


            @media only screen and (max-width:450px) {
                width: 150px;
                font-size: 15px;
            }
        }

        .sidebar__userProfilPic {
            margin: 0 auto;
            max-width: 70px;
            max-height: 70px;
            border-radius: 100%;
            border: 2px dotted #41B34A;

            img {
                width: 100%;
                height: 70px;
                border-radius: 100%;
            }
        }

        .name {
            text-transform: capitalize;
            letter-spacing: 1px;
        }

        .navbar {

            .nav-list {
                list-style: none;
                text-align: left;

                line-height: 2em;
                text-transform: capitalize;
                transition: .4s all ease;

                &:nth-last-child(1) {
                    button {
                        padding: 0;
                        background: transparent;

                        @media only screen and (max-width:450px) {
                            font-size: 20px;
                            right: 25px
                        }

                        &:hover {
                            outline: none;
                            border: none;
                        }
                    }
                }

                .nav-link {
                    font-weight: 400;
                    font-size: 25px;
                    line-height: 2em;

                    @media only screen and (max-width:450px) {
                        position: relative;
                        font-size: 20px;
                        right: 25px
                    }


                    &:hover {
                        font-weight: bold;
                        color: green;
                    }

                    &:focus {
                        color: green;
                    }

                    .icon {
                        color: inherit;
                        margin-right: 5px;
                    }
                }
            }


        }


    }

}