.profile_page{
    display: flex;  
    height: 80vh;
   justify-content: center;
    margin: 0 auto;
    margin-top: 25px;


    .profile_container{
        position: relative;
        padding: 10%;
        border-radius: 25px;
        border: 1px solid #fff;
        text-align: left;
        background: linear-gradient(125deg, (#7bcd84)16%, rgba(65, 179, 74, 1) 33%);




       
        form{
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 25px;
            flex-direction: row;

            @media only screen and (max-width:620px) {
                flex-direction: column;
              }

            .form-left, .form-right{
              
                padding: 5px;
                gap: 5px;


                .form-group{
                    display: flex;
                    flex-direction: column;
                    padding: 5px;
                    justify-content: center;
                    margin-top: 5x;
                    //align-items: center;

                    label{
                        font-weight: bold;
                        margin-right: 15px;
                        align-items: center;
                    }

                    select, input{
                        width: 13em;
                        padding: 5px;
                        border-radius: 5px;
                        color: #fff;
                    }

                }
            }
           
        }

        img{
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0px;
            left: 0;
            border-radius: 30px;
            width: 17%;
        }
    }
}